<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.iad1tya.netbar</string>
    <key>CFBundleName</key>
    <string>NetBar</string>
    <key>CFBundleExecutable</key>
    <string>NetBar</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.4</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/> <!-- Hides from Dock, behaves like menu bar app -->
	<key>NSLocationUsageDescription</key>
	<string>We need access to your location to display Wi-Fi SSID and signal strength.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need access to your location to display Wi-Fi SSID and signal strength.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need access to your location to display Wi-Fi SSID and signal strength.</string>
</dict>
</plist>
